.idea
Log
Test
ProjectDrafts.txt
CounterAll

# Игнорировать все папки внутри vendor, кроме composer
/vendor/*
!/vendor/composer/

# Загружать только два файла внутри composer
/vendor/composer/*
!/vendor/composer/autoload_psr4.php
!/vendor/composer/autoload_static.php